In [2]:
import pandas as pd

In [3]:
cr = pd.read_csv('C:/Users/shubh/Pranjal Sir class/fwd/CreditRisk.csv')

In [4]:
cr.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0.0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1.0,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0.0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0.0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0.0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [5]:
from sklearn.preprocessing import LabelEncoder

In [6]:
le = LabelEncoder() # Created Instance of Label Encoder

In [7]:
cr = cr.dropna(axis=0)

In [8]:
# le = LabelEncoder()
# categorical = list(cr.select_dtypes(include=['object']).columns.values)
# for cat in categorical:
#     print(cat)
#     cr[cat].fillna('UNK', inplace=True)
#     cr[cat] = le.fit_transform(cr[cat])
# categorical

In [9]:
cr.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [10]:
# cr[cat] = le.fit_transform(cr[cat].astype(str))

In [11]:
col = list(cr.select_dtypes(include=['object']))
print(col)
# for i in col:
#     print(i)
#     cr.i = le.fit_transform(cr.i)

['Loan_ID', 'Gender', 'Married', 'Education', 'Self_Employed', 'Property_Area', 'Loan_Status']

In [12]:
cr.Gender = le.fit_transform(cr.Gender)
cr.Married = le.fit_transform(cr.Married)
cr.Education = le.fit_transform(cr.Education)
cr.Self_Employed = le.fit_transform(cr.Self_Employed)
cr.Property_Area = le.fit_transform(cr.Property_Area)

In [16]:
cr.head(50)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
1,LP001003,1,1,1.0,0,0,4583,1508.0,128.0,360.0,1.0,0,N
2,LP001005,1,1,0.0,0,1,3000,0.0,66.0,360.0,1.0,2,Y
3,LP001006,1,1,0.0,1,0,2583,2358.0,120.0,360.0,1.0,2,Y
4,LP001008,1,0,0.0,0,0,6000,0.0,141.0,360.0,1.0,2,Y
5,LP001011,1,1,2.0,0,1,5417,4196.0,267.0,360.0,1.0,2,Y
6,LP001013,1,1,0.0,1,0,2333,1516.0,95.0,360.0,1.0,2,Y
7,LP001014,1,1,4.0,0,0,3036,2504.0,158.0,360.0,0.0,1,N
8,LP001018,1,1,2.0,0,0,4006,1526.0,168.0,360.0,1.0,2,Y
9,LP001020,1,1,1.0,0,0,12841,10968.0,349.0,360.0,1.0,1,N
10,LP001024,1,1,2.0,0,0,3200,700.0,70.0,360.0,1.0,2,Y
12,LP001028,1,1,2.0,0,0,3073,8106.0,200.0,360.0,1.0,2,Y
13,LP001029,1,0,0.0,0,0,1853,2840.0,114.0,360.0,1.0,0,N
14,LP001030,1,1,2.0,0,0,1299,1086.0,17.0,120.0,1.0,2,Y
15,LP001032,1,0,0.0,0,0,4950,0.0,125.0,360.0,1.0,2,Y
17,LP001036,0,0,0.0,0,0,3510,0.0,76.0,360.0,0.0,2,N
18,LP001038,1,1,0.0,1,0,4887,0.0,133.0,360.0,1.0,0,N
20,LP001043,1,1,0.0,1,0,7660,0.0,104.0,360.0,0.0,2,N
21,LP001046,1,1,1.0,0,0,5955,5625.0,315.0,360.0,1.0,2,Y
22,LP001047,1,1,0.0,1,0,2600,1911.0,116.0,360.0,0.0,1,N
25,LP001066,1,1,0.0,0,1,9560,0.0,191.0,360.0,1.0,1,Y
26,LP001068,1,1,0.0,0,0,2799,2253.0,122.0,360.0,1.0,1,Y
27,LP001073,1,1,2.0,1,0,4226,1040.0,110.0,360.0,1.0,2,Y
28,LP001086,1,0,0.0,1,0,1442,0.0,35.0,360.0,1.0,2,N
31,LP001095,1,0,0.0,0,0,3167,0.0,74.0,360.0,1.0,2,N
32,LP001097,1,0,1.0,0,1,4692,0.0,106.0,360.0,1.0,0,N
33,LP001098,1,1,0.0,0,0,3500,1667.0,114.0,360.0,1.0,1,Y
34,LP001100,1,0,4.0,0,0,12500,3000.0,320.0,360.0,1.0,0,N
37,LP001112,0,1,0.0,0,0,3667,1459.0,144.0,360.0,1.0,1,Y
38,LP001114,1,0,0.0,0,0,4166,7210.0,184.0,360.0,1.0,2,Y
39,LP001116,1,0,0.0,1,0,3748,1668.0,110.0,360.0,1.0,1,Y
40,LP001119,1,0,0.0,0,0,3600,0.0,80.0,360.0,1.0,2,N
41,LP001120,1,0,0.0,0,0,1800,1213.0,47.0,360.0,1.0,2,Y
43,LP001131,1,1,0.0,0,0,3941,2336.0,134.0,360.0,1.0,1,Y
46,LP001138,1,1,1.0,0,0,5649,0.0,44.0,360.0,1.0,2,Y
47,LP001144,1,1,0.0,0,0,5821,0.0,144.0,360.0,1.0,2,Y
48,LP001146,0,1,0.0,0,0,2645,3440.0,120.0,360.0,0.0,2,N
49,LP001151,0,0,0.0,0,0,4000,2275.0,144.0,360.0,1.0,1,Y
50,LP001155,0,1,0.0,1,0,1928,1644.0,100.0,360.0,1.0,1,Y
51,LP001157,0,0,0.0,0,0,3086,0.0,120.0,360.0,1.0,1,Y
52,LP001164,0,0,0.0,0,0,4230,0.0,112.0,360.0,1.0,1,N
53,LP001179,1,1,2.0,0,0,4616,0.0,134.0,360.0,1.0,2,N
54,LP001186,0,1,1.0,0,1,11500,0.0,286.0,360.0,0.0,2,N
55,LP001194,1,1,2.0,0,0,2708,1167.0,97.0,360.0,1.0,1,Y
56,LP001195,1,1,0.0,0,0,2132,1591.0,96.0,360.0,1.0,1,Y
57,LP001197,1,1,0.0,0,0,3366,2200.0,135.0,360.0,1.0,0,N
58,LP001198,1,1,1.0,0,0,8080,2250.0,180.0,360.0,1.0,2,Y
59,LP001199,1,1,2.0,1,0,3357,2859.0,144.0,360.0,1.0,2,Y
60,LP001205,1,1,0.0,0,0,2500,3796.0,120.0,360.0,1.0,2,Y
61,LP001206,1,1,4.0,0,0,3029,0.0,99.0,360.0,1.0,2,Y
62,LP001207,1,1,0.0,1,1,2609,3449.0,165.0,180.0,0.0,0,N

In [14]:
cr.describe()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
count,769.000000,769.000000,769.000000,769.000000,769.000000,769.000000,769.000000,769.000000,769.000000,769.000000,769.000000
mean,0.811443,0.647594,0.879064,0.210663,0.127438,5091.061118,1561.239168,141.750325,342.283485,0.849155,1.045514
std,0.391411,0.478030,1.251953,0.408045,0.333680,5363.714294,2528.694435,73.442988,65.337248,0.358131,0.798279
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.000000,6.000000,0.000000,0.000000
25%,1.000000,0.000000,0.000000,0.000000,0.000000,2895.000000,0.000000,100.000000,360.000000,1.000000,0.000000
50%,1.000000,1.000000,0.000000,0.000000,0.000000,3850.000000,1032.000000,128.000000,360.000000,1.000000,1.000000
75%,1.000000,1.000000,2.000000,0.000000,0.000000,5532.000000,2333.000000,163.000000,360.000000,1.000000,2.000000
max,1.000000,1.000000,4.000000,1.000000,1.000000,81000.000000,33837.000000,600.000000,480.000000,1.000000,2.000000

In [15]:
cr.Gender = cr.Gender.astype('category') #this is beacause wen we describe our dataset as we have used label encoding for numerical values it shows min max as hey are categorical varibles it should sh

In [17]:
cr.Married = cr.Married.astype('category')

In [18]:
cr.describe(include = 'all')

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
count,769,769.0,769.0,769.000000,769.000000,769.000000,769.000000,769.000000,769.000000,769.000000,769.000000,769.000000,769
unique,769,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
top,LP002347,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y
freq,1,624.0,498.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,561
mean,NaN,NaN,NaN,0.879064,0.210663,0.127438,5091.061118,1561.239168,141.750325,342.283485,0.849155,1.045514,NaN
std,NaN,NaN,NaN,1.251953,0.408045,0.333680,5363.714294,2528.694435,73.442988,65.337248,0.358131,0.798279,NaN
min,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,9.000000,6.000000,0.000000,0.000000,NaN
25%,NaN,NaN,NaN,0.000000,0.000000,0.000000,2895.000000,0.000000,100.000000,360.000000,1.000000,0.000000,NaN
50%,NaN,NaN,NaN,0.000000,0.000000,0.000000,3850.000000,1032.000000,128.000000,360.000000,1.000000,1.000000,NaN
75%,NaN,NaN,NaN,2.000000,0.000000,0.000000,5532.000000,2333.000000,163.000000,360.000000,1.000000,2.000000,NaN
max,NaN,NaN,NaN,4.000000,1.000000,1.000000,81000.000000,33837.000000,600.000000,480.000000,1.000000,2.000000,NaN